<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruida.springbootdemo.mapper.UserMapper">

    <!--<resultMap id="BaseResultMap" type="com.ruida.springbootdemo.entity.User">-->
        <!--<result column="id" jdbcType="INTEGER" property="id"/>-->
        <!--<result column="name" jdbcType="VARCHAR" property="name"/>-->
        <!--<result column="age" jdbcType="INTEGER" property="age"/>-->
        <!--<result column="dept_id" jdbcType="INTEGER" property="deptId"/>-->
    <!--</resultMap>-->

    <!--<select id="selectUserById" resultMap="BaseResultMap">-->
        <!--select * from t_user where id = #{id}-->
    <!--</select>-->

    <resultMap id="userInfoMap" type="com.ruida.springbootdemo.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <collection property="phones" ofType="com.ruida.springbootdemo.entity.Phone">
            <result column="brand" property="brand"/>
            <result column="price" property="price"/>
        </collection>
    </resultMap>

    <select id="selectUserById" resultType="user" useCache="true">
        select *
        from t_user
        <where>
          <if test="id != null">
              id = ${id}
          </if>
        </where>
    </select>

    <select id="selectAllUserList" resultType="com.ruida.springbootdemo.entity.User">
        select * from t_user
    </select>

    <select id="selectDeptById" resultType="java.util.Map">
        select dept_id as deptId,role_id as roleId from t_user where id = #{id}
    </select>

    <select id="countUser" resultType="java.lang.Integer">
        SELECT count(*) as total FROM t_user
    </select>

    <select id="queryUserById" resultMap="userInfoMap">
        SELECT
            *
        FROM
            t_user a
                LEFT JOIN t_phone b ON a.id = b.user_id
        WHERE
            a.id = #{userId}
    </select>

    <insert id="insertNameAndAge">
        insert into t_user(user_name,age) values (#{username},#{age})
    </insert>

    <select id="selectAllUsers" resultType="com.ruida.springbootdemo.entity.User">
        select * from t_user
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy} desc
        </if>
    </select>
</mapper>

